---
---

@import "{{ site.theme }}";

.page-header {
 background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
              url('{{ "/images/banner.jpg" | prepend: site.baseurl }}') center / cover no-repeat !important;
  
}

.btn {
  display: none !important;
}

.body {
  background-image: url('{{ "/images/background.jpg" | prepend: site.baseurl }}');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.main-content {
  background: transparent;
}
